@font-face {
  font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_2309186_32qmully6q.eot?t=1609818018474');
  /* IE9 */
  src: url('//at.alicdn.com/t/font_2309186_32qmully6q.eot?t=1609818018474#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ8AAsAAAAABigAAAIwAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAo0TwE2AiQDCAsGAAQgBYRtBy4bcwUR1Yszsq8K7GbHOzBBTdQqM57cfF7crkLHeI9wFQ72+0U8/Lf2et/O7M+EUCHKnNi07ABVJYImVq0wLAz7CtMKB8IQ6N2aM9tNsbARqiSnCBXaYv6/QGlGWq0B4HkmgkNufrEDUQBYpYfGdAD4PJfTm0AHco0PlONetMagAdSLAwp0D4wiK6GMG8YueIGPCXQYtyq27S53KDJ7VSDOpDqEUgjIMksXodVwMItHaqV6UH0AHkbfj6+8KFTqxK7ac2ybwKZvnKx0vcnhgBAkoOM1ElaRiQONiV2SYFzScTqbRpYF3zQNtoujWgT76+zSLjAKk8E33koBKngs6cDhnkl3E13H/088+fq7jj5e09uP3t4fBXYL/LPqQi+B4PKglT/7/0IGn/IiasniF8q6zuAfyAYOZENh26qsyRrHK137buvQgQZ7BnyZahw+YSYUwxNcbcYyJMUsmdlV1DqtoaXYQIcVO493GnRJErkdy+4AhD4vUenxHkmfj2RmP6M24jta+iKhw6HYhZ3mw0qHa6ZQKMHoh2lcV8p1yDAuv5J+FSHnFRH/JO7SMLqWU07vqSJeYkv31p6IQsV1iTvwHBVFjQ3XGcViGZFmbtuq6U1WXJcwtGYKhRKMfpjGdaWCyTKsfP5K+lWE3NFXl3wSd+ns6FrOAHKvrQb1Pcor3Vt7IgoV1yXuwDwqihqb5nkZxWKZCbFmbjuj1FCttb2+/LtTAAzZpn449cngSBpWAAAA') format('woff2'),
    url('//at.alicdn.com/t/font_2309186_32qmully6q.woff?t=1609818018474') format('woff'),
    url('//at.alicdn.com/t/font_2309186_32qmully6q.ttf?t=1609818018474') format('truetype'),
    /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url('//at.alicdn.com/t/font_2309186_32qmully6q.svg?t=1609818018474#iconfont') format('svg');
  /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dian:before {
  content: "\ec1e";
}
