#box {
  background-color: #fff;
  margin-bottom: 20px;
}
#box .nav li {
  background-color: #eee;
}
#box .data {
  border: 1px solid #ddd;
  border-top: unset;
  height: 500px;
}
#box #info .leaveMessageData {
  width: 100%;
}
#box #info .leaveMessageData li {
  height: 30px;
}
#box #writeMsg {
  padding: 10px;
  display: none;
}
#box #writeMsg .content {
  resize: none;
  height: 300px;
  margin: 10px 0 10px;
}
#box #writeMsg .btn-box {
  text-align: center;
}
#box #writeMsg .btn-box .btn {
  padding: 8px 80px;
}
#box #writeMsg .input-group {
  margin-bottom: 10px;
}
#box #writeMsg .input-group input {
  margin-right: 10px;
}
#box #writeMsg .input-group input:last-of-type {
  margin: 0;
}
